.alignleft {
	display: block;
	margin-bottom: 1.2em;
}

@media screen and (min-width: 40em) {
	.alignleft {
		display: inline;
		float: left;
		max-width: 60%;
		margin: 0.25em 1.5em 0.5em 0;
	}
}

.alignright {
	display: block;
	margin-bottom: 1.2em;
}

@media screen and (min-width: 40em) {
	.alignright {
		display: inline;
		float: right;
		max-width: 60%;
		margin: 0.25em 0 0.5em 1.5em;
	}
}

.aligncenter {
	clear: both;
	@include center-block;
}
